<nav class="navbar navbar-dark bg-body-tertiary">
    <div class="container-fluid  ">
      <img src="../../assets/logo.png" class="logo" alt="" srcset="" width="80px">
      <div class="navbar-brand float-start " class="company-title">One Step Solution</div>
      <form class="d-flex" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button class="btn btn-success mx-2" type="submit">Login</button>
      </form>
    </div>
  </nav>